body
{
margin:0;
padding:0;

}
.container
{
margin:0 30%;
height:100%;
    background-color: burlywood;
    overflow: scroll;
    
}
.add
{
    margin:10% 0;
    
}
.formm
{   color:black;
    margin-left:10%;
}

.list
{
    color:black;
    font-family:fantasy;
    margin-left:18%;
    
}
.list li
{
    padding:20px;

}
.list ul
{
    list-style-type:square;
}
.butt
    {
       
    }

@media only screen and (min-width:810px) and (max-width:920px)
{
   .butt
    {
        margin-left:20px;
    }
}

/*for ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .body
    {
background-color: burlywood;
    }
.container
    {
        margin:0;
        font-size: 120px;
        
        overflow:scroll;
    }
    input
    {
        font-size: 60px;
        margin-left: 30px;
    }
    .butt
    {
        margin-left:400px;
    }
    .add
    {
        margin-left:60px;
    }
    
}
/* for smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    
    .body
    {
background-color: burlywood;
    }
.container
    {
        margin:0;
        font-size: 120px;
        
        overflow:scroll;
    }
    input
    {
        font-size: 60px;
        margin-left: 30px;
    }
    .butt
    {
        margin-left:400px;
    }
    .add
    {
        margin-left:60px;
    }
  
}



