body
{
margin:0;
padding:0;
height:100%;

background-color:bisque;
}
h1
{
    color:firebrick;
    text-align: center;
    font-size:70px;
}
.container
{
   background-color:bisque; 
}
.list ul { 
    background-color:darkslategray;
    list-style-type: none;
    width:20%;
    
    
}

.list li a {
    font-size: 200%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding:20px 10px;
}

.list li a:hover {
    background-color: #111111;
    
    text-align: right;
}
.list li
{   
    
}
.content
{
margin-left:30%;
    margin-top:-330px;
    
    
}
.list2
{
    display: none;
}

@media only screen and (max-width:620px) and (min-width:400px)
{

.list li a {
    font-size: 100%;
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
    padding:20px 10px;
}
.content
    {
        margin-top:-250px;
    }
    h1
    {
        font-size:50px;
    }
    .list2
    {
        display: none;
    }
}
#matter2
{
    display: none;
}
#matter3
{
    display:none;
}
#matter4
{
    display:none;
}
@media only screen and (max-width:499px) and (min-width:100px)
{

.list ul
    {
        display: none;
    }
   .list2
    {
        display:inline-block;
        
    }
    .list2 li{
        display:inline;
    }
    .list2 li a {
    font-size: 100%;
    color: white;
    text-align: left;
    text-decoration: none;
    
    padding:20px 10px;
}
    .list2 li a:hover {
    background-color: #111111;
    
    text-align: right;
}
    .list2 ul
    {
        background-color:darkslategrey;
        margin-left:30px;
        display: block;
        padding:15px;
        margin-top:-20px;
        
    }
.content
    {
        margin-top:0px;
        margin-left:5px;
    }
    h1
    {
        font-size:50px;
    }
}

