
body{
margin:0;
padding: 0;
background-image: url(background.jpg);
}
#container
{
   margin: 1% auto;
width: 50%;
font-size: 200%;
text-align: center;
height: 100%; 
}
table,th,td {
  border : 1px solid black;
  border-collapse: collapse;
  margin-left:150px;
}
th,td {
  padding: 5px;
}
select
{
    font-size: 30px;
}